* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 1rem 10%;
}

.logo {
    font-size: 24px;
    color:#f9faf8;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}