* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 1rem 10%;
}

.logo {
    font-size: 24px;
    color:#f9faf8;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 5rem 10%;
    gap:2rem; 
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9f8f8;
}

.hero div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    background-color:#3882f6;
    color:#f9f8f8;
    padding:10px 20px 10px 20px;
    border: none;
    width:10rem;
    border-radius: 5px;
}

.hero img {
    border-radius: 5px;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    padding: 2rem 0 10rem 0;
}

.sec1 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.box-contain {
    display: flex;
    gap:30px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex-basis: 150px;
}

.box img {
    height:20rem;
}

.sec2 {
    background-color: #e5e7eb;
    padding:10rem 20% 10rem 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote p {
    font-size: 36px;
    padding-bottom: 2rem;
    font-style: italic;
}

blockquote .cite {
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    font-style:normal;
}